services:
  talos:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: talos-core
    tty: true
    stdin_open: true
    restart: unless-stopped
    devices:
      - "/dev/ttyMODBUS0:/dev/ttyMODBUS0"

    ports:
      - "8000:8000"

    volumes:
      - "./res:/app/res:ro"

    environment:
      - PYTHONPATH=${PYTHONPATH}
      - API_HOST=0.0.0.0
      - API_PORT=8000
      - LOG_LEVEL=INFO
